body{

font-family: Arial;
text-align:center;
margin-top:40px;

}

button{

padding:12px;
font-size:16px;
background:#0a74da;
color:white;
border:none;
border-radius:6px;
cursor:pointer;

}

input{

padding:10px;
font-size:16px;
width:200px;

}

.menu button{

width:200px;
margin:20px;

}
